<div id="about" class="top-padding container">
    <div class="content">
        <!-- Heading -->
        <div class="text-right">
            <h1 class="optical-illusion">About me</h1>
            <h2>Youri Lefers</h2>
        </div>

        <!-- Information -->
        <table class="table key-value-table">
            <tr>
                <td class="key">Full name</td>
                <td class="value">Youri Lefers</td>
            </tr>
            <tr>
                <td class="key">Function</td>
                <td class="value">Software developer</td>
            </tr>
            <tr>
                <td class="key">Skills</td>
                <td class="value">
                    PHP - JavaScript/TypeScript - Python - Java<br>
                    MySQL - Hadoop - MongoDB - Apache Spark
                </td>
            </tr>
            <tr>
                <td class="key">Favorites</td>
                <td class="value">AngularJS 2.0 - Symfony 3.0</td>
            </tr>
        </table>

        <!-- Description -->
        <div class="body clearfix">
            <p class="left">
                My name is Youri Lefers and I'm a 21 years old software developer from the Netherlands. I study Software Engineering
                at Saxion University of Applied Sciences in Enschede (Netherlands) and I work at <a href="https://www.x-ip.nl">X-IP</a>.
                I'm also the co-owner of <a href="https://www.brickdesigns.nl">Brick Designs</a>. I love programming. I've been
                programming since I was around 12 years old and built knowledge about multiple languages.
            </p>
            <p class="right">
                I mostly build software using PHP, JavaScript (with frameworks like <a href="http://angular.io">Angular</a>), Python,
                MySQL and Java. But I'm also comfortable with C#, C/C++ and multiple Big Data solutions like Hadoop, Hive, MongoDB and Apache Spark.
            </p>
        </div>
    </div>
</div>
