<div id="blog" track-scroll>
    <!-- Page content -->
    <div id="content" class="container">
        <div class="content">
            <div class="blog-item summarized" *ngFor="let BlogPost of BlogPosts">
                <div class="blog-item-inner">
                    <!-- Heading -->
                    <h3 class="margin-bottom">{{ BlogPost.title }}</h3>

                    <!-- Image -->
                    <img class="responsive" [src]="BlogPost.image.source" [title]="BlogPost.image.title">

                    <!-- Date -->
                    <div class="date"><span>{{ BlogPost.created }}</span></div>

                    <div class="body">
                        <!-- Description -->
                        <p>{{ BlogPost.body }}</p>

                        <!-- Read more -->
                        <div class="action-wrapper">
                            <a class="button bordered" [routerLink]="[BlogPost.id]" md-raised-button>Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll indicator -->
    <div class="scroll-indicator">
        <span class="indicator" *ngFor="let item of BlogPosts; let i = index" [class.active]="i == _scrolledItem">&nbsp;</span>
    </div>
</div>
